.carousel-caption{
    position: absolute;
    top:35%;
}
span{
 margin-top: 6px;
 padding-right: 20px;


}
.carousel-caption h5{
font-size: 45px;
font-weight: 400;
}
.carousel-caption p{
    font-size: 15px;
}
.carousel-inner img{
    height: 600px;
}
.imgsize{
    height: 280px;
}
.class1{
    background: #f8f9fa;
}
hr{
    margin: 0;
    padding: 0;
}
.card img{
    height: 300px;
    width: 370px;

}
.forme{
    width: 41%;
}
.class2{
    width: 92%;
}
.card1{width: 33%;}
/* .card2{width: 30%;} */
/* .card3{width: 33%;} */